@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU&display=swap');
@import "tailwindcss";

#logo {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
}

h2 {
  @apply text-2xl font-medium;
}

input {
  @apply w-full focus:outline-none;
}

.v-popper__arrow-outer {
  visibility: hidden !important;
}

.v-popper__arrow-inner {
  visibility: hidden !important;
}

@layer components {
  .primary-button {
    @apply font-semibold text-sm rounded-md px-2 py-1 cursor-pointer duration-200;
    @apply text-white bg-sky-600 hover:bg-sky-600/65;
  }

  .secondary-cancel-button {
    @apply font-semibold text-sm rounded-md px-2 py-1 cursor-pointer duration-200;
    @apply text-neutral-500 bg-neutral-200 hover:bg-neutral-200/65;
  }

  .disabled-primary-button {
    @apply font-semibold text-sm rounded-md px-2 py-1 cursor-pointer duration-200;
    @apply bg-neutral-300 cursor-not-allowed opacity-50;
  }
}
